body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 8px;
}
img {
  margin: 1px;
  border: solid 1px gold;
  max-width: 33vw;
  max-height: 33vh;
}
a img {
  border: solid 1px blue;
}
h1, h2, h3 {
  margin-bottom: 0.5em;
}
